body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

/*NAVIGATION MENU*/
.navmenu{
	width: 81%;
	min-height: 50px;
	margin: 0 auto;
}
.navmenu ul{
  float: right;
  margin-right: 10px;
}
.navmenu li{
  float: left;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 10px; 
}
.navmenu ul li a{
  text-decoration: none;
  color: #011627;
}
.navmenu ul li a:hover{
	color: #2EC4B6;
}

/*WORK*/

.work{
	width: 1090px;
	min-height: 400px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 70px;
}
.panel{
	 float: left;
}
.img1{
	width: 48%;
	min-height: 400px;
	margin: 0 auto;
	margin-right: 4%;
	box-shadow: 10px 10px 5px #aaaaaa;
	position: relative;
}
.img2{
	width: 48%;
	min-height: 400px;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #aaaaaa;
}

.work img{
	width: 520px;
	height: 300px;
	display: block;
}

.title{
	font-family: sans-serif;
	font-size: 26px;
	color: #011627;
}
.title a{
	text-decoration: none;
	color: #011627;
}

.p-tag{
	font-family: mistral;
	font-size: 28px;
	color: #2EC4B6;
	margin-top: -30px;
}



/*FOOTER*/
.footer{
	width: 100%;
	margin: 0 auto;
	min-height: 60px;
	background-color: #011627;
	margin-top: 150px;
	bottom: 0px;
	overflow: auto;
}

.footer .footer-info{
	width: 700px;
	min-height: 60px;
	margin: 0 auto;

}

.footer .footer-info h4{
	float: left;
	font-family: sans-serif;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .footer-info h4 a{
	color: #fff;
	text-decoration: none;
}



